services:
  server:
    build: .
    ports:
      - "9090:9090"
    environment:
      - NETMAP_CONFIG=/app/config.json
    volumes:
      - ./web:/app/web:ro
      - ./config.json:/app/config.json:ro
